* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #F5E8D8;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* Background */
.background {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top left, #F5E8D8, #E6C8A7);
  z-index: -3;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4b2f20;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Coffee Wave */
.wave {
  position: fixed;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
  width: 700px;
  height: 120%;
  pointer-events: none;
  z-index: -2;
}

/* Container */
.container {
  width: min(1200px, 92%);
  margin: 80px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);
}

/* Titles */
h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  color: #4B2F20;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 45px;
  color: #7A5A43;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  color: #5E3D2B;
  margin: 40px 0 20px;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 28px;
}

/* Cards */
.card {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.35s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  background: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.08);
}

.card h3 {
  padding: 18px;
  text-align: center;
  color: #5B3C2A;
  font-weight: 600;
}
